# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
dist-electron/
release/

# Database files & backups
*.db
*.db-journal
*.hootka

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env
.env*.local
!.env.example

